.MMM-iCal-ToDo .symbol {
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
  vertical-align: top;
}

.MMM-iCal-ToDo .symbol span {
  display: inline-block;
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}

.MMM-iCal-ToDo .title {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.MMM-iCal-ToDo .time {
  padding-left: 30px;
  text-align: right;
  vertical-align: top;
}
